*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: darkorchid;
    perspective: 1500px;
    height: 100vh;
}

h1{
    margin: 20px;
    padding: 15px;
    border: 4px solid rgb(27, 216, 37);
    background-color: rgba(215, 57, 230, 0.815);
    text-align: center;
    border-radius: 14px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
    width: 150px;
    height: 150px;
    animation: code 10s infinite;
}

.container > *{
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.329);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 28px;
    border: 5px solid rgb(65, 2, 255);
}

.f{
    transform: translate3d(0,0,75px);
}

.l{
    transform: translate3d(-75px,0,0) rotateY(-90deg);
}

.r{
    transform: translate3d(75px,0,0) rotateY(90deg);
}

.o{
    transform: translate3d(0,0,-75px) rotateY(180deg);
}

.t{
    transform: translate3d(0,-75px,0) rotateX(90deg);
}

.b{
    transform: translate3d(0,75px, 0) rotateX(-90deg);
}

@keyframes code{
    0%{
        transform: translate(-50%, -50%) rotateY(0deg) rotateX(0deg);
    }
    16.6%{
        transform: translate(-50%, -50%) rotateY(90deg) rotateX(0deg);
    }
    33.3%{
        transform: translate(-50%, -50%) rotateY(180deg) rotateX(0deg);
    }
    50%{
        transform: translate(-50%, -50%) rotateY(270deg) rotateX(0deg);
    }
    66.66%{
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(90deg);
    }
    83.3%{
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(270deg);
    }
    100%{
        transform: translate(-50%, -50%) rotateY(360deg) rotateX(360deg);
    }
}